@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body{
  background: #F7F8FA;
  font-family: "Inter";

}
.App{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
}